html{
  background-color: #6c7b95;
  color: #ffffff;
}

ul, li{
  list-style: none;
  display: inline;
  margin: 0;
  padding:0;
}


.checkbox, .button{
  height:20px;
  width: 20px;
  border-radius: 10px;
}

.checked{
  opacity: 0.5;
  text-decoration: line-through;
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1vh auto;
  justify-content: space-between;
  align-items: center;
}

.item, .create-item{
  padding: 1vh 1vw;
  border-radius: 10px;
  width: 300px;
  height: 30px;
  font-size: 15px;
}

.create-item{
  margin: 0vh auto 2vh;
  text-align: center;
  border: 0px transparent;
}
.item-dark{
  background-color: #fff;
  color: #696464;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  text-align: center;
  margin:0 5px;
}

.align-center{
  text-align: center;
}

.margin-auto-center{
  margin: 0 auto;
}

.grocery-list{
  margin: 2vh auto;
  width: 350px;
  background-color: #464159;
  padding: 1vh 2vw;
  border-radius: 10px;
}

